

.weatherContainer {
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90vh;
  background-color: rgba(201, 201, 201, 0.959);
  flex-direction: column;
}

/* .weatherContainer {
  display: flex;
  align-items: stretch;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 90vh;
  background-color: rgba(201, 201, 201, 0.959);
  flex-direction: row;
  justify-content: center;
} */
